beautifulsoup4==4.12.2
bs4==0.0.1
click==8.1.7
Django==4.0
django-compat==1.0.15
django4-background-tasks==1.2.9
lxml==5.1.0
psycopg2-binary==2.9.9
python-dotenv==1.0.0
PyYAML==6.0.1
requests==2.31.0
selenium==4.16.0
sqlparse==0.4.4
gunicorn
urllib3==2.1.0
Werkzeug==3.0.1
webdriver_manager
